.ll{
    background-color: blueviolet;
    width: 500px;
}
h3{
    text-decoration: underline;
}
.oo{
    background-color: yellow;
    width: 500px;
}
#kk{
    text-align: center;
}
.dd{
    background-color: greenyellow;
    border: 10px solid teal;
    padding: 0px;
    margin: 0px;
    border-radius: 30px 30px 30px 30px;
}
.gg{
    background-color: aqua;
    width: 100px;
    border: 5px solid purple;
    margin: 10px;
    border-radius: 10px 20px;
}
h2{
    text-align: center;
    text-decoration: underline;
}
#ii{
    background-color: bisque;
    width: 150px;
    padding-left: 20px;
}